.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 6px;
  color: #0e85ff;
  font-family: "Open Sans";
  font-size: 12.6px;
  letter-spacing: 0;
  line-height: 17px;
}
.copyIcon {
  width: 19.8px;
  height: 20px;
}
.copyText {
  color: #0e85ff;
  font-family: "Open Sans";
  font-size: 12.6px;
  letter-spacing: 0;
  line-height: 17px;
}
.cpdiv {
  height: auto;
  width: auto;
}
